.background{
    background-color: grey;
    width: 75vw;
    height: 75vh;
    position: fixed;
    z-index: 1;
    top:15.5vh;
    left:12.5vw;
}
.key65{
    background-color: white;
    width: 5vw;
    height: 50vh;
    border: 0.5vw solid black;
    border-radius: 1vw;
    position: fixed;
    left: 20vw;
    top: 30vh;
    z-index: 2;
}
.key83{
    background-color: white;
    width: 5vw;
    height: 50vh;
    border: 0.5vw solid black;
    border-radius: 1vw;
    position: fixed;
    left: 26vw;
    top: 30vh;
    z-index: 2;
}
.key68{
    background-color: white;
    width: 5vw;
    height: 50vh;
    border: 0.5vw solid black;
    border-radius: 1vw;
    position: fixed;
    left: 32vw;
    top: 30vh;
    z-index: 2;
}
.key70{
    background-color: white;
    width: 5vw;
    height: 50vh;
    border: 0.5vw solid black;
    border-radius: 1vw;
    position: fixed;
    left: 38vw;
    top: 30vh;
    z-index: 2;
}
.key71{
    background-color: white;
    width: 5vw;
    height: 50vh;
    border: 0.5vw solid black;
    border-radius: 1vw;
    position: fixed;
    left: 44vw;
    top: 30vh;
    z-index: 2;
}
.key72{
    background-color: white;
    width: 5vw;
    height: 50vh;
    border: 0.5vw solid black;
    border-radius: 1vw;
    position: fixed;
    left: 50vw;
    top: 30vh;
    z-index: 2;
}
.key74{
    background-color: white;
    width: 5vw;
    height: 50vh;
    border: 0.5vw solid black;
    border-radius: 1vw;
    position: fixed;
    left: 56vw;
    top: 30vh;
    z-index: 2;
}
.key75{
    background-color: white;
    width: 5vw;
    height: 50vh;
    border: 0.5vw solid black;
    border-radius: 1vw;
    position: fixed;
    left: 62vw;
    top: 30vh;
    z-index: 2;
}
.key76{
    background-color: white;
    width: 5vw;
    height: 50vh;
    border: 0.5vw solid black;
    border-radius: 1vw;
    position: fixed;
    left: 68vw;
    top: 30vh;
    z-index: 2;
}
.key186{
    background-color: white;
    width: 5vw;
    height: 50vh;
    border: 0.5vw solid black;
    border-radius: 1vw;
    position: fixed;
    left: 74vw;
    top: 30vh;
    z-index: 2;
}
.key87{
    background-color: black;
    width: 3vw;
    height: 30vh;
    border: 0.5vw solid black;
    border-radius: 1vw;
    position: fixed;
    left: 24vw;
    top: 30vh;
    z-index: 2;
}
.key69{
    background-color: black;
    width: 3vw;
    height: 30vh;
    border: 0.5vw solid black;
    border-radius: 1vw;
    position: fixed;
    left: 30vw;
    top: 30vh;
    z-index: 2;
}
.key84{
    background-color: black;
    width: 3vw;
    height: 30vh;
    border: 0.5vw solid black;
    border-radius: 1vw;
    position: fixed;
    left: 42vw;
    top: 30vh;
    z-index: 2;
}

.key89{
    background-color: black;
    width: 3vw;
    height: 30vh;
    border: 0.5vw solid black;
    border-radius: 1vw;
    position: fixed;
    left: 48vw;
    top: 30vh;
    z-index: 2;
}

.key85{
    background-color: black;
    width: 3vw;
    height: 30vh;
    border: 0.5vw solid black;
    border-radius: 1vw;
    position: fixed;
    left: 54vw;
    top: 30vh;
    z-index: 2;
}
.key79{
    background-color: black;
    width: 3vw;
    height: 30vh;
    border: 0.5vw solid black;
    border-radius: 1vw;
    position: fixed;
    left: 66vw;
    top: 30vh;
    z-index: 2;
}
.key80{
    background-color: black;
    width: 3vw;
    height: 30vh;
    border: 0.5vw solid black;
    border-radius: 1vw;
    position: fixed;
    left: 72vw;
    top: 30vh;
    z-index: 2;
}

.W{
    position: fixed;
    left: 24.5vw;
    top: 55vh;
    z-index: 2;
    color:white;
    opacity: 1;
    font-size: 3vw;
}
.E{
    position: fixed;
    left: 31vw;
    top: 55vh;
    z-index: 2;
    color:white;
    opacity: 1;
    font-size: 3vw;
}
.T{
    position: fixed;
    left: 43vw;
    top: 55vh;
    z-index: 2;
    color:white;
    opacity: 1;
    font-size: 3vw;
}
.Y{
    position: fixed;
    left: 49vw;
    top: 55vh;
    z-index: 2;
    color:white;
    opacity: 1;
    font-size: 3vw;
}
.U{
    position: fixed;
    left: 55vw;
    top: 55vh;
    z-index: 2;
    color:white;
    opacity: 1;
    font-size: 3vw;
}
.O{
    position: fixed;
    left: 67vw;
    top: 55vh;
    z-index: 2;
    color:white;
    opacity: 1;
    font-size: 3vw;
}
.P{
    position: fixed;
    left: 73vw;
    top: 55vh;
    z-index: 2;
    color:white;
    opacity: 1;
    font-size: 3vw;
}
.EasterEgg{
    background-color: grey;
    width: 75vw;
    height: 75vh;
    position: fixed;
    z-index: 0;
    transition: opacity 1s;
    opacity: 0;
    top:15.5vh;
    left:12.5vw;
}
.overlay{
    width: 60vw;
    height: 50vh;
    position: fixed;
    z-index: 4;
    opacity: 0;
    left: 20vw;
    top: 30vh;
}
.titlePiano{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    text-align: center;
    font-size:200%; 
    z-index: 3;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
}
.titlePoem{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    text-align: center;
    font-size:100%; 
    z-index: 3;
    top: 15%;
    left: 50%;
    transform: translate(-50%);
}