<!-- Link to external CSS files -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main/css/header.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main/css/main.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main/css/navbar.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main/css/footer.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='piano/css/piano.css') }}">

<!DOCTYPE html>
<html lang="en">

<!-- Document title -->
<title>
    Noah Gaw
</title>

<!-- Header section -->
<header>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <img src="/static/main/images/banner.jpg" width=50 height=50 alt="Logo" class="header img" loading="lazy">  
</header>

<!-- Navigation bar -->
<nav> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div class="navbar">
        <img src="/static/main/images/menu-bar.png" alt="Logo" class="navbarMenuImg" id="menuImg" loading="lazy">
        <span class="assignment-name">Homework 1</span>
        <ul class="links a">
            <li><a href="/home.html" class="navbar a" id="link">Home</a></li>
            <li><a href="/projects.html" class="navbar a" id="link">Projects</a></li>
            <li><a href="https://www.linkedin.com/in/noahgaw/" id="link"><img src="/static/main/images/social-linkedin.png" class="navbar a" alt="LinkedIn" loading="lazy"></a></li>
            <li><a href="/static/main/images/NoahGaw_Resume.pdf" class="navbar a" id="link">Resume</a></li>
        </ul>
    </div>
    <div class="verticalNavbar" id="verticalNavbar">
        <ul class="links a">
            <li><a href="/home.html" class="verticalNavbarLinkText" id="link">Home</a></li>
            <li><a href="/projects.html" class="verticalNavbarLinkText" id="link">Projects</a></li>
            <li><a href="https://www.linkedin.com/in/noahgaw/" class="verticalNavbarLinkText" id="link">LinkedIn</a></li>
            <li><a href="/static/main/images/NoahGaw_Resume.pdf" class="verticalNavbarLinkText" id="link">Resume</a></li>
        </ul>
    </div>
</nav>

<!-- Building the Piano -->
<main>
    <div class="background" id="background"></div>
    <div class="key65" id="key65"></div>
    <div class="key83" id="key83"></div>
    <div class="key68" id="key68"></div>
    <div class="key70" id="key70"></div>
    <div class="key71" id="key71"></div>
    <div class="key72" id="key72"></div>
    <div class="key74" id="key74"></div>
    <div class="key75" id="key75"></div>
    <div class="key76" id="key76"></div>
    <div class="key186" id="key186"></div>
    <div class="key87" id="key87"></div>
    <div class="key69" id="key69"></div>
    <div class="key84" id="key84"></div>
    <div class="key89" id="key89"></div>
    <div class="key85" id="key85"></div>
    <div class="key79" id="key79"></div>
    <div class="key80" id="key80"></div>
    <img src="/static/main/images/PianoOverlay.png" class="overlay" id="overlay" alt="Old One" loading="lazy">
    <img src="/static/piano/images/texture.jpeg" class="EasterEgg" id="OldOne" alt="Old One" loading="lazy">
    <div class="titlePiano">The Great Old One</div>
    <div class="titlePoem">"Behold piano great and old, it's master slumbers in far off cold, If you wish to see anew, call out to it - we see you."</div>
</main>

<!-- Footer section -->
<footer>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <p class="footer">©Noah Gaw</p>
</footer>

<!-- Link to external JavaScript files -->
<script type="text/javascript" src="{{ url_for('static', filename='piano/js/piano.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='main/js/menuBar.js') }}"></script>
</html>