<!-- Linking CSS files for styling -->
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main/css/header.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main/css/main.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main/css/navbar.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main/css/footer.css') }}">

<!DOCTYPE html>
<html lang="en">

<!-- Page title -->
<title>
    Noah Gaw
</title>

<!-- Header section -->
<header>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Logo image -->
    <img src="/static/main/images/banner.jpg" width=50 height=50 alt="Logo" class="header img" loading="lazy">  
</header>

<!-- Navigation bar -->
<nav> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div class="navbar">
        <!-- Menu image -->
        <img src="/static/main/images/menu-bar.png" alt="Logo" class="navbarMenuImg" id="menuImg" loading="lazy">
        <span class="assignment-name">Homework 1</span>
        <!-- Navigation links -->
        <ul class="links a">
            <li><a href="/home.html" class="navbar a" id="link">Home</a></li>
            <li><a href="/projects.html" class="navbar a" id="link">Projects</a></li>
            <li><a href="https://www.linkedin.com/in/noahgaw/" id="link"><img src="/static/main/images/social-linkedin.png" class="navbar a" alt="LinkedIn" loading="lazy"></a></li>
            <li><a href="/static/main/images/NoahGaw_Resume.pdf" class="navbar a" id="link">Resume</a></li>
        </ul>
    </div>
    <!-- Vertical navigation bar for smaller screens -->
    <div class="verticalNavbar" id="verticalNavbar">
        <ul class="links a">
            <li><a href="/home.html" class="verticalNavbarLinkText" id="link">Home</a></li>
            <li><a href="/projects.html" class="verticalNavbarLinkText" id="link">Projects</a></li>
            <li><a href="https://www.linkedin.com/in/noahgaw/" class="verticalNavbarLinkText" id="link">LinkedIn</a></li>
            <li><a href="/static/main/images/NoahGaw_Resume.pdf" class="verticalNavbarLinkText" id="link">Resume</a></li>
        </ul>
    </div>
</nav>

<!-- Main content section -->
<main>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <div class="row">
        <!-- Left column with an image link -->
        <div class="leftColumn">
            <a href="/piano.html"><img src="/static/main/images/piano.jpg" alt="Noah's Photo" style="width: 100%; height: 100%; object-fit: cover;" loading="lazy"></a>
        </div>
        <!-- Right column with text and a link -->
        <div class="rightColumn">
            <p class="textCenter">My Piano Project</p>
            <p class="textCenter">This is just a simple piano made entirely from HTML, CSS, and JS elements, that you can play with your keyboard!
                Hover over the keys to see which buttons on your keyboard are for each piano key and have fun! Just remember, we see you.
            </p>
            <a href="/piano.html" class="textCenter">Click here to play the piano!</a>
        </div>
    </div>
</main>

<!-- Footer section -->
<footer>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <p class="footer">©Noah Gaw</p>
</footer>

<!-- Linking JavaScript file for menu bar functionality -->
<script type="text/javascript" src="{{ url_for('static', filename='main/js/menuBar.js') }}"></script>
</html>