/* Media query for screens with a max width of 650px */
@media (max-width: 650px) {
    .navbar .links a {
        display: none;  /* Hide navbar links */
    }
}

/* Styles for the navbar menu image */
.navbarMenuImg {
    float: left;
    display: none;
    height: 50%; 
    width: auto;
    opacity:1;
    z-index: 5;
    margin-left:15vw;
}

/* Styles for the navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    overflow: visible;
    padding: 0vh;
    height: 10vh;
    position: sticky;
    top: 3vh;
    box-shadow: 1em 1em 1em 1em rgba(0, 0, 0, 0.4);
    z-index: 2;
}

/* Styles for the assignment name in the navbar */
.navbar .assignment-name {
    color: #f2f2f2;
    font-size: 3vw;
    display: flex;
    justify-content: justify;
    align-items: center;
    background-color: #333;
    overflow: visible;
    padding: 0vh;
    height: 10vh;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* Styles for the links container in the navbar */
.navbar .links {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
    color: #f2f2f2;
    box-shadow: none;
    text-align: right;
    list-style: none;
}

/* Styles for the links in the navbar */
.navbar .links a {
    display: flex;  
    color: #f2f2f2;
    text-align: center;
    text-justify: justify;
    text-decoration: none;
    font-size: 1.2em;
    margin-left: auto;
    margin-right: 1em;
    box-shadow: none;
    opacity: 1;
}

/* General styles for all links in the navbar */
.navbar a {
    display: flex;  
    color: #f2f2f2;
    text-align: center;
    text-justify: justify;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    box-shadow: none;
    opacity: 1; 
}

/* Hover effect for the links in the navbar */
.navbar .links a:hover {
    background-color: black;
    color: #ff0000;
    transition: 0.75s;
    opacity: 0.5;
}

/* Styles for the vertical navbar */
.verticalNavbar {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #333;
    width: 10vw;
    height: 100vh;
    position: fixed;
    padding: 1em;
    box-shadow: 2vw rgba(0, 0, 0, 0.4);
    z-index: 2;
}

/* Styles for the links container in the vertical navbar */
.verticalNavbar .links {
    display: flex;
    flex-direction: column;
    width: 100%;
    list-style: none;
}

/* Styles for the links in the vertical navbar */
.verticalNavbar .links a {
    display: fixed;
    color: #f2f2f2;
    text-align: left;
    text-decoration: none;
    margin-left: -4vw;
    padding: 0%;
    width: 90%;
    box-shadow: none;
    opacity: 1;
}

/* Hover effect for the links in the vertical navbar */
.verticalNavbar .links a:hover {
    background-color: #000000;
    color: #ff0000;
    transition: 0.75s;
    opacity: 0.5;
}

/* Styles for the text in the vertical navbar links */
.verticalNavbarLinkText {
    font-size: 2vw;
}